transformers
torch 
torchvision
sentencepiece
protobuf
googletrans==3.1.0-alpha
deep-translator
translate
translators
pandas
detectlanguage
google-generativeai
accelerate==0.25.0
xgboost
hyperopt
imblearn
shap
matplotlib
seaborn
python-dotenv
openpyxl